@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
* {
  margin: 0;
  padding: 0;
}
:root {
  --very-dark-blue-bg: hsl(233, 47%, 7%);
  --dark-des-blue-card: hsl(244, 38%, 16%);
  --soft-violet-acc: #aa5cdb;
  --white: hsl(0, 0%, 100%);
  --slightly-ts-white: hsla(0, 0%, 100%, 0.75);
  --slightyl-ts-white-heading: hsla(0, 0%, 100%, 0.6);
  --font-inter: 'Inter', sans-serif;
  --font-lexend: 'Lexend Deca', sans-serif;
}
#desktop {
  display: none;
}
img {
  height: 100%;
}

body {
  font-family: var(--font-inter);
  background-color: var(--very-dark-blue-bg);
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 0 1.25rem;
}
.container {
  border-radius: 15px;
  background-color: var(--dark-des-blue-card);
}
.img-container {
  position: relative;
}
.overlay::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #aa5cdb85;
  z-index: 10;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.img-container > img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  z-index: -1;
}

.stats {
  /* margin-top: 2rem; */
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
  gap: 2rem;
  padding: 2rem;
}

.stats h1 {
  font-size: 1.75rem;
}
.stats h1 span {
  color: var(--soft-violet-acc);
}
.stats p {
  line-height: 1.5;
  color: var(--slightly-ts-white);
}

.h2s > h2 {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 1.25rem;
}
.h2s > h2 {
  font-size: 1.8rem;
}
.h2s h2 > span {
  color: var(--slightyl-ts-white-heading);
  font-size: 1rem;
}
@media screen and (min-width: 1440px) {
  #desktop {
    display: block;
  }
  #mobile {
    display: none;
  }
  .container {
    display: flex;
    max-width: 45vw;
  }
  .img-container,
  .img-container > img,
  .overlay::after {
    border-radius: 0;
    border-top-right-radius: 10px;
    border-top-right-radius: 10px;
  }
  .stats {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 15vw;
    order: -1;
    padding: 3.5rem;
  }
  .h2s {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
}
